<nav
  class="navbar navbar-dark navbar-expand-lg fixed-top unchanged"
  id="mainNav"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navCo"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-item ms-2 p-lg-1 py-2">
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#sign-in"
        class="rounded-pill px-3 py-1 def-sign"
      >
        Sign in
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navCo">
      <div class="navbar-nav">
        <a href="#about" class="nav-link">About</a>
        <a href="#" class="nav-link">Activities</a>
        <a href="#" class="nav-link">Faculty</a>
        <a href="#" class="nav-link">Competitions</a>
      </div>
    </div>
  </div>
</nav>
