<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing Club</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/homestyles.css">
    <link rel="stylesheet" href="css/regixstyles.css">
</head>

<body>
    <main class="main">
        <div class="home-img"></div>
        <div class="img-mask text-white placeholder-glow">
            <div class="text-center home-text">
                <h4 class="blockquote">Little Flower Degree College</h4>
                <div class="lead mt-1">presents</div>
                <h1 class="display-1 mt-4" style="font-family: 'Arvo';">ALAN TURING CLUB</h1>
                <div class="lead mt-1 mb-5 p-2">Home to all the physical sciences</div>
                <button data-bs-toggle="modal" data-bs-target="#registration" class="join">Join us
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                        </svg></span></button>
            </div>
        </div>
        <!--Navigation bar-->
        <%- include("partials/navBar") %> 
    </main>
    
    <div class="container my-5 text-white">
        <h1 class="display-2" id="about">About</h1>
        <section class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, iure. Error,
            tempore ducimus nesciunt tempora nostrum soluta voluptatum, cupiditate, incidunt impedit molestiae vitae
            dolorum optio. Quod fugiat cumque aspernatur repellendus.
            Facilis animi quo quam ipsum molestias porro natus non. Reprehenderit ducimus cupiditate repudiandae ullam,
            eveniet, minus quos soluta illo vel assumenda nulla culpa asperiores minima animi delectus. Quisquam, ullam
            molestias.
            Et itaque nesciunt exercitationem obcaecati qui in neque explicabo consequuntur corrupti voluptates. Quasi
            non reiciendis ut aspernatur, iusto fuga explicabo blanditiis molestiae quae soluta eius asperiores
            quibusdam in. Ipsum, similique.
            Tenetur, eos quas porro doloribus velit eius ex odit laborum assumenda aut asperiores commodi suscipit quos
            officia iure eveniet quia veniam magni nemo quasi unde pariatur. Facere deserunt ipsa quisquam!
        </section>
    </div>
    <div class="container">
        <div class="row mt-5 justify-content-sm-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Activities</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta possimus
                            adipisci, nesciunt fugit iusto recusandae a, ab voluptas dolorem quod deserunt omnis sunt
                            minima perferendis vel fuga officiis harum in.</p>
                        <div><a href="#" class="btn btn-warning">know more</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4 mt-md-0">
                <div class="card">
                    <div class="card-header">
                        <h3>Achievements</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta possimus
                            adipisci, nesciunt fugit iusto recusandae a, ab voluptas dolorem quod deserunt omnis sunt
                            minima perferendis vel fuga officiis harum in.</p>
                        <div><a href="#" class="btn btn-warning">know more</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="card">
                    <div class="card-header">
                        <h3>Lore</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta possimus
                            adipisci, nesciunt fugit iusto recusandae a, ab voluptas dolorem quod deserunt omnis sunt
                            minima perferendis vel fuga officiis harum in.</p>
                        <a href="#" class="btn btn-warning">know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container rounded-3 my-5 text-center text-white faculty">
        <div class="abt-faculty mt-4">
            <h1 class="display-5 p-3">Faculty</h1>
            <p class="p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam porro consequuntur
                perferendis enim
                officia
                nostrum error nam non eaque maiores doloribus voluptate dicta, at voluptatibus temporibus id illum
                soluta
                quasi!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ratione voluptatibus reiciendis dicta
                earum esse molestias, magnam sapiente soluta amet unde nemo debitis quo quaerat harum. Dignissimos
                ratione nostrum beatae.
            </p>
        </div>
    </section>
    <footer class="container-fluid mt-5 text-center text-white">
        <div class="row py-3">
            <div class="col"><span class="lead">Contact us</span></div>
        </div>
        <div class="row pb-3 details">
            <div class="col-sm-6"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path
                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg></span>&nbsp; 000-00-00</div>
            <div class="col-sm-6 mt-2 mt-sm-0"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                    </svg></span>&nbsp; email@prototype.com</div>
        </div>
        <div class="row mt-4 pb-5">
            <div class="col-6">
                <h5 class="lead">Little Flower Degree College</h1>
            </div>
        </div>
    </footer>
    
    <!--Registration Modal-->
    <%- include("partials/modals/regModal") %> 


    <!--Sign-in Modal-->
    <%- include("partials/modals/signInModal") %> 

    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
    </script>
    
    <!-- Scroll functions -->
    <script src="js/scrolljquery.js"></script>
    
    
    <!-- Validation scripts -->
    <script src="js/validationScripts.js"></script>
</body>

</html>