<div class="modal fade " id="key" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="ev-title">Change Key</h5>
        </div>
        <div class="modal-body">
          <form action="#" method="post">
            <div class="row">
                <div class="col">
                    <label for="curPin" class="form-label">Enter current key</label>
                    <input type="password" class="form-control" name="current-pin" id="curPin">
                    <label for="keyName" class="form-label mt-2">Enter your name</label>
                    <input type="text" class="form-control" name="key-name" id="keyName">
                    <label for="newPin" class="form-label mt-2">Enter new key</label>
                    <input type="password" class="form-control" name="new-pin" id="newPin">
                </div>
            </div>
        </div>
        <div class="modal-footer mt-3">
                <button type="button" class="ev-close rounded-1 p-2" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="ev-done rounded-1 p-2 ms-3">Done</button>
            
        </form>
        </div>
        </div>
    </div>
</div>